<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="w-full h-full bg-zinc-800 p-10 text-white">
        <div class="mb-10">
            <a href="/" class="mb-3 capitalize text-blue-500">back to home</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3 text-center md:text-start">All Users</h1>
        <div class="users w-full flex gap-3 flex-wrap justify-center md:justify-start">
            <% if(users.length > 0){ %>
                <% users.forEach(function(user){ %>
                    <div class="user w-[80%] md:w-72 p-4 bg-zinc-700 rounded-lg">
                        <div class="w-full h-72 bg-zinc-500 rounded-lg overflow-hidden">
                            <img src="<%= user.image %>" class="object-top object-cover w-full h-full" alt="">
                        </div>
                        <h3 class="text-2xl tracking-tighter mt-3"><%= user.name %></h3>
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="flex gap-3 justify-between mt-1">
                            <a href="/edit/<%= user._id %>" class="text-white">Edit User</a>
                            <a href="/delete/<%= user._id %>" class="text-red-400">Delete User</a>
                        </div>
                    </div>
                <% }); %>
            <% }else{ %>
                <h5 class="text-zinc-500 text-md">no users yet...</h5>
            <% } %>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>